.card-container {
  margin-left: 25px;
  margin-right: 20px;
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.4s;
  animation: ease-in;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 10px;
}

.card-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 0px;
  cursor: pointer;
}

.language1,
.language2,
.language3,
.language4,
.language5,
.language6 {
  width: 30px;
  height: auto;
  padding: 5px;
}

.image-container img {
  overflow: hidden;
}

.card-image {
  padding: 10px;
  height: auto;
  width: 140px;
}

.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
}

.card-title h3,
.card-body p {
  margin: 0;
  padding: 0;
}

.card-body p {
  font-size: 15px;
}

h3 {
  font-size: 22px;
  font-weight: bolder;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.card-title {
  margin: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn button {
  padding: 0.5rem;
  background-color: white;
  border: none;
  transition: 0.2s;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  border-radius: 3px;
}

a {
  color: rgb(32, 31, 31);
  text-decoration: none;
  font-weight: bold;
}

@media only screen and (min-width: 800px) {
  .card-container {
    width: 230px;
    height: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .card-container {
    width: 300px;
    height: 550px;
  }
}
