.aboutContainer {
  height: 175vh;
  padding: 20px;
  background-color: rgb(43, 40, 43);
}

.imageContainer {
  text-align: center;
}

.imageContainer h2 {
  color: white;
  margin-bottom: 1rem;
}

.aboutInfo {
  color: white;
  margin: 0;
  position: relative;
  top: 5%;
  font-size: 16px;
  text-align: center;
}

.aboutInfo p {
  margin-bottom: 20px;
}

.profile {
  width: 270px;
  height: auto;
}

.view-my-projects-btn-container {
  position: relative;
  text-align: center;
  top: 7%;
}

.view-my-projects-btn,
.projects-link {
  background: none;
  font-size: 16px;
  padding: 10px;
  color: white;
}

.view-my-projects-btn {
  border: 1px solid white;
}

.view-my-projects-btn:hover {
  background-color: rgb(95, 21, 25);
  cursor: pointer;
}
