.aboutContainer {
  height: 210vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 50px;
  background-color: rgb(43, 40, 43);
}

.imageContainer {
  text-align: center;
}

.aboutContainer h2 {
  color: white;
  text-align: center;
  margin-bottom: 0.5rem;
}

hr {
  width: 100px;
  margin: auto;
  margin-bottom: 1rem;
}

.aboutInfo {
  color: white;
  margin: 0;
  position: relative;
  top: 5%;
  font-size: 16px;
  text-align: center;
}

.aboutInfo p {
  margin-top: 10px;
  margin-bottom: 20px;
}

.profile {
  width: 270px;
  height: auto;
}

.view-my-projects-btn-container {
  position: relative;
  text-align: center;
  top: 0%;
}

.view-my-projects-btn,
.projects-link {
  background: none;
  font-size: 16px;
  padding: 10px;
  color: white;
}

.view-my-projects-btn {
  border: 1px solid white;
}

.view-my-projects-btn:hover {
  background-color: rgb(95, 21, 25);
  cursor: pointer;
}

@media only screen and (min-width: 400px) {
  .aboutContainer {
    height: 160vh;
  }
}

@media only screen and (min-width: 580px) {
  .aboutContainer {
    height: 85vh;
  }
  hr {
    width: 120px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 600px) {
  .aboutContainer {
    height: 100vh;
  }

  .aboutInfo {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    font-size: 18px;
  }
  .aboutContainer h2 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 800px) {
  .aboutContainer {
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 90px;
    background-color: rgb(43, 40, 43);
  }
  .infoContainer {
    display: flex;
  }
  .aboutInfo {
    margin-top: 0;
  }
  .aboutInfo p {
    margin-top: 0;
    text-align: left;
    font-size: 16px;
  }
  .profile {
    width: 360px;
    height: auto;
    margin-left: 2rem;
  }
  .projects-link {
    font-size: 18px;
    padding: 10px;
  }
  hr {
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 875px) {
  .aboutInfo p {
    font-size: 19px;
  }
  .profile {
    width: 400px;
    height: auto;
    margin-left: 2rem;
  }
  .view-my-projects-btn-container {
    margin-top: 3rem;
  }
}
@media only screen and (min-width: 950px) {
  .aboutContainer {
    height: 100vh;
  }
  .aboutInfo p {
    font-size: 20px;
  }
  .profile {
    width: 420px;
    height: auto;
  }
  .projects-link {
    font-size: 18px;
    padding: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .aboutContainer {
    height: 130vh;
  }
  .infoContainer {
    justify-content: center;
  }
  .aboutInfo p {
    padding-top: 2rem;
    font-size: 20px;
    width: 400px;
    height: 400px;
    text-align: left;
  }
  .profile {
    margin-left: 7rem;
    width: 600px;
    height: auto;
  }
  .aboutContainer h2 {
    text-align: center;
    font-size: 34px;
    margin-bottom: 2rem;
  }
  .projects-link {
    font-size: 22px;
    padding: 10px;
  }
  hr {
    width: 200px;
    margin-bottom: 3rem;
  }
  .view-my-projects-btn {
    padding: 1.25rem;
  }
}
