header {
  scroll-padding-top: 100px;
}

.projects-cards {
  margin-top: 2rem;
  padding-top: 2rem;
}

.my-projects {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

@media only screen and (min-width: 321px) {
  /* Larger mobile styles (wider than 320 pixels) */
}

@media only screen and (min-width: 600px) {
  /* Tablet styles (wider than 600 pixels) */
  .projects-cards {
    display: flex;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1024px) {
  /* Large laptop styles (wider than 1024 pixels) */
}

@media only screen and (min-width: 1140px) {
  /* Desktop styles (wider than 1140 pixels) */
}
