.contact-container {
  height: 50vh;
  text-align: center;
  margin: 3rem;
}

footer h3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;
  font-size: 20px;
  text-align: center;
  background-color: beige;
}

.projects-cards {
  margin-top: 2rem;
}

@media only screen and (min-width: 321px) {
  /* Larger mobile styles (wider than 320 pixels) */
}

@media only screen and (min-width: 600px) {
  /* Tablet styles (wider than 600 pixels) */
  .projects-cards {
    display: flex;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1024px) {
  /* Large laptop styles (wider than 1024 pixels) */
}

@media only screen and (min-width: 1140px) {
  /* Desktop styles (wider than 1140 pixels) */
}
