.contact-container {
  height: 50vh;
  background-color: rgb(43, 40, 43);
  padding: 40px;
  text-align: center;
}

.contact-info p {
  font-size: 17px;
  margin-bottom: 30px;
  color: white;
}

.contact-info h2 {
  font-size: 24px;
  color: white;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 320px) {
  .contact-container {
    height: 55vh;
  }
}

@media only screen and (min-width: 600px) {
  .contact-container {
    height: 30vh;
  }
}

@media only screen and (min-width: 800px) {
  .contact-info {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@media only screen and (min-width: 1000px) {
  .contact-container {
    height: 24vh;
  }
}
